*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.logo{
    width: 80px;
    height: auto;
    margin-top: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 255, 17, 0.877);
    background-image: linear-gradient(to bottom right, rgba(0, 255, 17, 0.877), rgb(35, 35, 35));
    height: 65px;
    padding: 0 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.nav-link{
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
}

header{
    background-image: url(/Img/Header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
    padding: 20px 40px;
    font-style: italic;
    
}

header h2{
    font-weight: 900;
    font-size: 5.5em;
    text-shadow: 10px 5px 3px black;
}

header p{
    font-weight: 700;
    font-size: 2.5em;
    text-align: end;
    text-shadow: 5px 3px 2px black;
}

main h5{
    font-style: italic;
    font-weight: 800;
    font-size: 1.6em;
    padding: 40px 0 0 10px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(35, 35, 35), rgba(0, 255, 17, 0.877)) 1;
}

.articles-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 40px;
    padding: 15px 5px 15px 20px;
}

.card{
    width: 60%;
    height: auto;
    transition-duration: 0.3s;
}

.card:hover{
    transform: scale(1.2) translate(10%, 0);
    transition-duration: 0.3s;
    margin-right: 30px;
}

